<h2>Edit</h2>
<button><a href="/celebrities">Celebrities</a></button>
{{#with celeb }}
<form action="/celebrities/{{this._id}}/edit" method="POST">
 <textarea type="text" placeholder="{{this.name}}" name="name">{{ this.name }}</textarea>
  <textarea type="text" placeholder="{{this.occupation}}" name="occupation"> {{this.occupation}} </textarea>
  <textarea type="text" placeholder="{{this.catchPhrase}}" name = "catchPhrase">{{this.catchPhrase}}</textarea>
  <button>Edit</button>
</form>
{{/with}}


