<div>
<br>
<h3>{{name}}<h3>
<h4>{{occupation}}</h4>
<p>{{catchPhrase}}</p>
<form action="/celebrities/{{_id}}/delete" method="POST">
<button>Delete</button>
</form>
<br>
<button><a href="/celebrities/{{this._id}}/edit">Edit</a></button>
</div>
